/* P5_Style.css */
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500;700&display=swap');

:root {
  --p5-red: #d61821;
  --p5-black: #111;
  --p5-bg: #222;
  --p5-white: #f2f2f2;
}


body {
  background-color: var(--p5-bg) !important;
  background-image: repeating-linear-gradient(45deg, #1a1a1a 0, #1a1a1a 10px, #222 10px, #222 20px) !important;
  color: var(--p5-white) !important;
  font-family: 'Teko', sans-serif !important;
}

.bg-white, .bg-off-white, .bg-near-white, .bg-grey-1, .bg-light-gray {
  background-color: transparent !important; 
}

.black, .near-black, .dark-gray, .mid-gray, .gray, .color-inherit {
  color: var(--p5-white) !important;
}

nav, .bg-black {
  background-color: #000 !important;
  border-bottom: 4px solid var(--p5-red);
}

h1, h2, h3, h4 {
  background: #000;
  color: #fff !important;
  display: inline-block;
  padding: 5px 15px;
  transform: skew(-10deg);
  border-left: 5px solid var(--p5-red);
}

a, a:link, a:visited {
  color: var(--p5-red) !important;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover {
  background-color: var(--p5-red) !important;
  color: #fff !important;
  transform: skew(-5deg);
}

main {
  background: rgba(255, 255, 255, 0.05) !important; 
  border: 2px solid var(--p5-black);
  margin: 20px auto;
  padding: 20px;
  box-shadow: 10px 10px 0 var(--p5-red);
}